<form [formGroup]="contactForm" #myForm (ngSubmit)="onSubmit()">
  <app-loader *ngIf="isLoading" behavior="absolute"></app-loader>
  <div>
    <form-field-wrapper
      label="First name"
      labelFor="firstName"
      [showErrors]="submitted"
      [controller]="contactForm.get('firstName')"
    >
      <input
        formControlName="firstName"
        type="text"
        autocomplete="off"
        id="firstName"
        placeholder="Enter first name"
      />
    </form-field-wrapper>

    <form-field-wrapper
      label="Last name"
      labelFor="lastName"
      [showErrors]="submitted"
      [controller]="contactForm.get('lastName')"
    >
      <input
        formControlName="lastName"
        type="text"
        autocomplete="off"
        id="lastName"
        placeholder="Enter last name"
      />
    </form-field-wrapper>

    <form-field-wrapper
      label="Role"
      labelFor="role"
      [showErrors]="submitted"
      [controller]="contactForm.get('role')"
    >
      <select formControlName="role" id="role">
        <option>Admin</option>
        <option>Manager</option>
        <option>CEO</option>
        <option>Developer</option>
        <option>Engineer</option>
        <option>Designer</option>
      </select>
    </form-field-wrapper>

    <form-field-wrapper
      label="Password"
      labelFor="password"
      [showErrors]="submitted"
      [controller]="contactForm.get('password')"
    >
      <input formControlName="password" type="password" id="password" />
    </form-field-wrapper>

    <form-field-wrapper
      label="Repeat password"
      labelFor="repeatPassword"
      [showErrors]="submitted"
      [controller]="contactForm.get('repeatPassword')"
    >
      <input
        formControlName="repeatPassword"
        type="password"
        id="repeatPassword"
      />
    </form-field-wrapper>

    <form-field-wrapper
      label="Schedule"
      [showErrors]="submitted"
      [controller]="contactForm.get('schedule')"
    >
      <div class="schedule-container" formArrayName="schedule">
        <div *ngFor="let phone of scheduleControls; let i = index">
          <input
            type="checkbox"
            [name]="'schedule-' + 'day'"
            [id]="days[i]"
            [formControlName]="i"
          />
          <label [for]="days[i]">{{ days[i] }}</label>
        </div>
      </div>
    </form-field-wrapper>

    <ud-checkbox
      name="active"
      formControlName="active"
      label="Is active"
    ></ud-checkbox>

    <div class="controls">
      <button (click)="onReset()" type="button">Cancel</button>
      <button class="border" type="submit">Create</button>
    </div>
  </div>
</form>
