<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="first-name">First name</label>
    <input
      formControlName="firstName"
      type="text"
      id="first-name"
      placeholder="Enter first name"
    />

    <label for="last-name">Last name</label>
    <input
      formControlName="lastName"
      type="text"
      id="last-name"
      placeholder="Enter last name"
    />

    <label for="role">Role</label>
    <select formControlName="role" id="role">
      <option>Admin</option>
      <option>Manager</option>
      <option>CEO</option>
      <option>Developer</option>
      <option>Engineer</option>
      <option>Designer</option>
    </select>

    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password" />

    <label for="repeat-password">Repeat password</label>
    <input
      formControlName="repeatPassword"
      type="password"
      id="repeat-password"
    />

    <label>Schedule</label>
    <div class="schedule-container" formArrayName="schedule">
      <div *ngFor="let phone of scheduleControls; let i = index">
        <input
          type="checkbox"
          [name]="'schedule-' + 'day'"
          [id]="days[i]"
          [formControlName]="i"
        />
        <label [for]="days[i]">{{ days[i] }}</label>
      </div>
    </div>

    <ud-checkbox [name]="'active'" [label]="'Is active'"></ud-checkbox>

    <div class="controls">
      <button (click)="onReset()" type="button">Cancel</button>
      <button class="border" type="submit">Create</button>
    </div>
  </div>
</form>
