<form>
  <div>
    <label for="first-name">First name</label>
    <input type="text" id="first-name" placeholder="Enter first name" />

    <label for="last-name">Last name</label>
    <input type="text" id="last-name" placeholder="Enter last name" />

    <label for="password">Role</label>
    <select>
      <option>Admin</option>
      <option>Manager</option>
      <option>CEO</option>
      <option>Developer</option>
      <option>Engineer</option>
      <option>Designer</option>
    </select>

    <label for="password">Password</label>
    <input type="password" id="password" />

    <label for="repear-password">Repeat password</label>
    <input type="password" id="repear-password" />

    <label for="repear-password">Schedule</label>
    <div class="schedule-container">
      <span
        *ngFor="let day of days"
        [class.selected]="['Ср', 'Чт'].includes(day)"
        >{{ day }}</span
      >
    </div>

    <ud-checkbox [label]="'Is active'"></ud-checkbox>

    <div class="controls">
      <button>Cancel</button>
      <button class="border">Create</button>
    </div>
  </div>
</form>
