<div class="head">
  <p>#</p>
  <p>1</p>
  <p>2</p>
</div>

<div class="list">
  <app-loader *ngIf="isLoading"></app-loader>
  <department-tree
    *ngFor="let department of departments"
    [department]="department"
  ></department-tree>
  <!-- <details open *ngFor="let department of departments">
    <summary>
      <department-list-item [department]="department"></department-list-item>
    </summary>
    <department-list-item
      *ngFor="let departmentChild of department.children"
      class="child"
      [department]="departmentChild"
      (onAddClick)="addClick($event)"
      (onEditClick)="editClick($event)"
      [isControlsVisible]="!!departmentChild.createdAt"
    ></department-list-item>
  </details> -->
</div>
