<div class="head">
  <p>#</p>
  <p>1</p>
  <p>2</p>
</div>

<div class="list">
  <app-loader *ngIf="isLoading"></app-loader>
  <details open *ngFor="let department of departments">
    <summary>
      <department-list-item [department]="department"></department-list-item>
    </summary>
    <department-list-item
      *ngFor="let departmentChild of department.children"
      class="child"
      [department]="departmentChild"
      (onAddClick)="onAddClick($event)"
      (onEditClick)="onEditClick($event)"
      [isControlsVisible]="!!departmentChild.createdAt"
    ></department-list-item>
  </details>
</div>
