label {
  & label {
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #d5d5d5;
    box-sizing: border-box;
    border-radius: 4px;
  }

  & input {
    display: none;

    &:checked + label {
      background-color: blue;
    }
  }
}
