/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
}

h1,
p {
  margin: 0;
}

table {
  border-spacing: 0px;
  border-collapse: separate;
}
